resources/**
!resources/
!resources/temperature_baseline_dummy.csv
!resources/temperature_policy_dummy.csv
plots/**
results/
__pycache__/
TODO.md
TRA420_Modelling_2025.code-workspace
Electricity_OECD.xlsx
Emission_factors_all.xlsx